.btn-input {
    font-size: 20px;
}
.nav-item:not(.btn_not) {
    font-size: 20px;
    padding-right: 120px;
}
.nav-item, .btn_not {
    padding-right: 40px;
}

footer {
    background-color: #F1E3E0;
}
.navbar-brand {
    padding-right: 40px;
}

.align_center {
    text-align: center;
}