.btn-input {
    font-size: 20px;
}
.nav-item:not(.btn_not) {
    font-size: 20px;
}
.nav-item, .btn_not {
    padding-right: 30px;
}
main {
    margin-top: 60px;
}
footer {
    background-color: #b5b5b5;
}
.navbar-brand {
    padding-right: 40px;
}
.form_of_holding {
    margin-right: 10px;
}
.add-event {
    display: flex;
    justify-content: center;
}
.align_center {
    text-align: center;
}