<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"/>
    <link rel="shortcust icon" href="{{url_for('static', filename='img/logo_short.jpg')}}">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar sticky-top navbar-expand-md navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='img/logo.jpg')}}" alt="логотип"
                                                  class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav justify-content-between">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/results_event">Результаты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reports">Отчёты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/students">Ученики</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/employees">Сотрудники</a>
                    </li>
                    {% if not current_user.is_authenticated %}
                    <li class="nav-item btn_not">
                        <a class="btn btn-primary btn-input btn-sm" href="/register">Зарегистрироваться</a>
                    </li>
                    <li class="nav-item btn_not">
                        <a class="btn btn-success btn-input btn-sm" href="/login">Войти</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="btn btn-danger btn-input btn-sm" href="/logout">Выйти</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container-fluid">
    {% block content %} {% endblock %}
</main>
<footer class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://www.itcube15.ru/" target="_blank"><img src="{{url_for('static', filename='img/logo.jpg')}}" alt="логотип"
                                                      class="img-fluid"></a>
        <h5>© IT-Cube 15</h5>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>