{% extends "base.html" %}

{% block content %}
<h3 align="center">Форма {{edit_or_add}} этапа для мероприятия - {{event.Name_of_event}}</h3>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.Stage.label }}<br>
        {{ form.Stage(class="form-control") }}<br>
        {% for error in form.Stage.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.Date_begin.label }}<br>
        {{ form.Date_begin(class="form-control") }}<br>
        {% for error in form.Date_begin.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.Date_end.label }}<br>
        {{ form.Date_end(class="form-control") }}<br>
        {% for error in form.Date_end.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}