{% extends "base.html" %}

{% block content %}
    <h3 align="center" class="mb-4">Список мероприятий</h3>
    <div class="align_center mb-4">
        <a type="button" class="btn btn-md btn-warning" href="/add_event">Добавить мероприятие</a>
    </div>
    <div class="align_center mb-5">
        <a type="button" class="btn btn-success mb-1" href="/export_events">Экспорт в Excel</a><br>
        <p style="color: green; font-size: 21px;">{{message}}</p>
    </div>
    <div class="table-responsive">
        <table align="center" class="table table-hover">
            <tr align="center">
                <th>№</th>
                <th>Название</th>
                <th>Организатор</th>
                <th>Сайт</th>
                <th>Форма проведения</th>
                <th>Статус</th>
                <th>Направление</th>
                <th>Возрастные ограничения</th>
                <th>Класс</th>
                <th>Примерное количество участников</th>
                <th>Примечания</th>
            </tr>
            {% for event in events %}
                <tr align="center">
                    <td>{{ loop.index }}</td>
                    <td>{{ event.Name_of_event }} <a href="../event_more/{{ event.id }}"> (подробнее)</a></td>
                    <td>{{ event.Organizer }}</td>
                    <td><a href="{{ event.Website }}" target="_blank">{{ event.Website }}</a></td>
                    {% for form_hold in form_of_hold %}
                        {% if form_hold.id == event.Form_of_holding %}
                            <td class="form_of_holding">{{ form_hold.Form }}</td>
                        {% endif %}
                    {% endfor %}

                    {% for stat in status %}
                        {% if stat.id == event.Status %}
                            <td>{{ stat.Status_name }}</td>
                        {% endif %}
                    {% endfor %}
                    {% for direction in direct %}
                        {% if direction.id == event.Direction %}
                            <td>{{ direction.Direction }}</td>
                        {% endif %}
                    {% endfor %}

                    <td>{{ event.Age }}</td>
                    <td>{{ event.Class }}</td>
                    <td>{{ event.Number_of_participants }}</td>
                    <td>{{ event.Note }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}