{% extends "base.html" %}

{% block content %}
<div class="carousel slide mb-5 background-carousel" id="carouselControls" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% if events_actually%}
            {% for event in events_actually %}
                {% if loop.first == 1 %}
                    <div class="{{ styles[0] }}">
                {% else %}
                    <div class="{{ styles[1] }}">
                {% endif %}
                        <div class="{{ styles[2] }}">
                            {% if event[1] %}
                            <a href="event_more/{{ event[0].id }}" class="a-none-decoration">
                                <img src="../{{event[1]}}" class="img-carousel">
                            </a>
                            {% endif %}
                            </div>
                        <div class="{{ styles[3] }}">
                            <a href="event_more/{{ event[0].id }}" class="a-none-decoration">
                                <h2 class="carousel-h2">{{ event[0].Name_of_event }}</h2>
                                <p class="carousel-p">{{ event[0].Description }}</p>
                            </a>
                        </div>
                    </div>
            {% endfor %}
        {% else %}
            <div class="{{ styles[4] }}">
                <h2> Актуальных мероприятий нет </h2>
            </div>
        {% endif %}
    </div>
    <a class="carousel-control-prev" role="button" href="#carouselControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" role="button" href="#carouselControls" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
{% endblock %}