{% extends "base.html" %}


{% block content %}
    <br>
    <h3 align="center">Список отчётов</h3>
    <br>
    <div class="align_center">
        <a type="button" class="btn btn-success" href="/export_reports">Экспорт в Excel</a>
    </div>
    <br>
    <br>
    <table border="2" align="center" class="table table-hover">
        <tr>
            <th>№</th>
            <th>Ученик</th>
            <th>Наставник</th>
            <th>Направление</th>
            <th>Мероприятие</th>
            <th>Статус</th>
            <th>Дата</th>
            <th>Результат</th>
        </tr>
        {% for report in all_reports.keys() %}
            <tr>
                <td>{{ report }}</td>
                <td>{{ all_reports[report][0] }}</td>
                <td>{{ all_reports[report][1] }}</td>
                <td>{{ all_reports[report][2] }}</td>
                <td>{{ all_reports[report][3] }}</td>
                <td>{{ all_reports[report][4] }}</td>
                <td>{{ all_reports[report][5] }}</td>
                <td>{{ all_reports[report][6] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}