{% extends "base.html" %}

{% block content %}
    <h3 align="center">Список учеников</h3>
    <br>
    <br>
    <div class="align_center">
        <a type="button" class="btn btn-warning" href="/add_student">Добавить ученика</a>
    </div>
    <br>
    <div class="align_center">
        <a type="button" class="btn btn-success" href="/export_students">Экспорт в Excel</a>
    </div>
    <br>
    <br>
    <table align="center" class="table table-hover">
        <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Класс</th>
            <th>Сертификат ДО</th>
            <th>Место жительства</th>
            <th>Школа</th>
            <th>Номер телефона</th>
            <th>Номер телефона родителя</th>
            <th>Пол</th>
            <th>Примечание</th>
        </tr>
        {% for student in all_students.keys() %}
            <tr>
                <td>{{ student }}</td>
                <td>{{ all_students[student][0] }}</td>
                <td>{{ all_students[student][1] }}</td>
                <td>{{ all_students[student][2] }}</td>
                <td>{{ all_students[student][3] }}</td>
                <td>{{ all_students[student][4] }}</td>
                <td>{{ all_students[student][5] }}</td>
                <td>{{ all_students[student][6] }}</td>
                <td>{{ all_students[student][7] }}</td>
                <td>{{ all_students[student][8] }}</td>
                <td>{{ all_students[student][9] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}