{% extends "base.html" %}

{% block content %}
    <table border="2" align="center">
        <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Класс</th>
            <th>Сертификат ДО</th>
            <th>Место жительства</th>
            <th>Школа</th>
            <th>Номер телефона</th>
            <th>Номер телефона родителя</th>
            <th>Пол</th>
            <th>Примечание</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Корбесов Тимур Тамазиевич</td>
            <td>30.04.2007</td>
            <td>9</td>
            <td>123 562 137</td>
            <td>с.Карджин</td>
            <td>МБОУ СОШ №2</td>
            <td>89604035303</td>
            <td>89289397448</td>
            <td>муж</td>
            <td></td>
        </tr>
    </table>
{% endblock %}